.ventana {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #4CAF50; /* Borde verde para indicar éxito */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInAndMove 1.5s ease-out forwards;
  }

  @keyframes fadeInAndMove {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .mensaje {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #4CAF50; /* Color verde para indicar éxito */
  }
